.profile {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */
  width: 300px;
  padding: 20px;
  /* border: 1px solid; */
  border-color: black;
  background-color: rgb(211, 243, 253);
  box-shadow: inset 8px 8px 16px -6px (0, 0, 0, 0.75);
}
.avatar {
  width: 97px;
  height: 97px;
  background-color: #fff;
  border-radius: 50%;
}

.name {
  font-weight: 600;
}
.tag,
.location {
  color: grey;
}
.stats {
  display: flex;
  justify-content: space-between;
}

.label {
  color: grey;
}

.quantity {
  display: block;
}

li {
  list-style: none;
}
