.statistics {
  background-color: green;
  text-align: center;
}
.title {
  background-color: white;
}

.statList {
  display: flex;
  width: 300px;
}

.statistics li {
  border: 1px solid;
  width: calc(100% / 5);
}
